body {
    background-color: black;
    background-image: url("img/jp-pic.jpg");
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 98vh;
    font-family: "Roboto", serif;
    color: white;
}

.content {
    width: 50%;
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1em;
}

@media (max-width: 1200px) {
    .content {
        width: 65%;
    }
}

@media (max-width: 1000px) {
    .content {
        width: 75%;
    }
}

@media (max-width: 800px) {
    .content {
        width: 97%;
    }
}

header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

main {
    display: flex;
    flex-direction: column;
}

.inputContainer {
    display: flex;
    flex-direction: column;
}

#input {
    resize: none;
    font-size: 20px;
    background: #faf4f3;
    padding: 20px;
    height: auto;
    width: auto;
}

.howto {
    font-size: 20px;
    font-weight: 600;
    color: white;
}

.howto h1 {
    font-size: 40px;
    font-weight: 500;
    color: white;
}

footer {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.footerContent {
    width: 40%;
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
}

.icon:hover {
    transform: scale(1.2);
}